{% extends 'layout.twig' %}

{% block title %}MyApp / Admin {% endblock %}
{% block content %}
	Все заказы:
	<table border="1" cellpadding="5" cellspacing="0">
		{% for id, order in orders %}
			<tr>
				<td>{{ id }}</td>
				<td>{{ order.date_order }}</td>
				<td>{{ order.login_user }}</td>
				<td>{{ order.sum }}  руб</td>
				<td>
					<select {% if not isAdmin %}disabled{% endif %} data-id="{{ id }}" class = "js-status">
						{% for key, status in statuses %}
							<option {% if key == order.status %}selected{% endif %} value="{{ key }}">{{ status }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="5">
	        {% for good in order.goods %}
            <li>
              <a href="catalog/{{ good.category_id }}/{{ good.id_good }}">{{ good.name_good }}</a>
              {{ good.count }} * {{ good.price_good }} = <b>{{ good.sum }}  рублей</b>
            </li>
	        {% endfor %}
	      </td>
      </tr>
		{% endfor %}
	</table>

<script src="/js/admin.js"></script>
{% endblock %}