{% extends 'layout.twig' %}

{% block title %}MyApp / Basket{% endblock %}
{% block content %}
    Товары в корзине:<br><br>

{% for item in goods %}
        <li>
            <a href="/catalog/{{ item.category_id }}/{{ item.id_good }}">{{ item.name_good }}</a> |
            ${{ item.price_good }} |
            {{ item.count }} шт. |
            => {{ item.sum }} рублей
        </li>
    {% endfor %}
    <br><br><b>{{ sum }} рублей</b><br>
    <a href="/order">оформить заказ</a>
    
{% endblock %}